html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DINPro';
  src: url('../assets/fonts/DINPro-Medium.eot');
  src: url('../assets/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/DINPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/DINPro-Medium.woff') format('woff'),
      url('../assets/fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}











.navbar.topNav {
  background-color:#383C68 !important;
  height: 60px;
  padding: 0 15px;
  z-index: 2;
} 




.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-size: 14px;
} 

.navbar-brand{
  margin-right: 35px !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding-right:15px !important; 
  font: 14px/1.25 robotoregular,Heiti SC,Microsoft YaHei;
  font-family: 'DINPro' !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
color: rgba(39,98,255,1) !important;
}

.topNav .navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 0 !important;
}




.footer {
  background: #1d2635;
  padding: 50px 0;
}

.mainContainer {
  min-height: 55vh;
  /* background: url(/bannerBG.png) right bottom no-repeat,linear-gradient(#383C68, #12142C) center/cover; */
  /* background-attachment: fixed; */
  background: linear-gradient(#383C68, #12142C) center/cover;
  /* padding: 70px 0; */
  padding-top: 50px;
}

.mainContainer .custom-padding{
  padding: 0 5% !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: unset !important;
}


.submenu-data{
  display: flex;
  gap: 10px;
  padding: 6px 10px;
  align-items: center;
}

.submenu-data .subtitle{
  font-size: 12px;
    line-height: 17px;
    color: #888fa1;
}

.submenu-data .title{
  font-size: 14px;
  line-height: 20px;
  color: #16181d;
  font-weight: 500;
}

.qrLink .dropdown-menu{
  left: -90px !important;
}

.dropdown-toggle::after{
  vertical-align: 3px !important; 
  margin-left: 0.355em;
}

/* .dropdown:active .dropdown-toggle::after{
  border-bottom: 0.3em solid;
  border-top: unset;
} */

.qrLink .dropdown-item{
  padding: 0 !important;
}  

.navbar-expand-lg .navbar-nav .nav-link.btn-link{
  padding-right: 15px !important;
  padding-left: 15px;
  margin-right: 15px;
}

.qrcode-wrap img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}

.qrcode-wrap .download-options-codeText {
  font-size: 12px;
  color: #16181d;
  margin-top: 8px;
  line-height: 1;
  margin-bottom: 10px;
}

.qrcode-wrap{
  text-align: center;
}

.qrcode-wrap .dropdown-item{
  padding: 0;
}

.qrcode-wrap .download-btn {  
  height: 30px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  position: relative;
  margin-top: 12px;
  background-color: rgba(39,98,255,1) !important;
  border: none;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 5px;
}

.btn-link{
  background-color: rgba(39,98,255,1) !important;
 
    font-size: 14px;
    color: #fff; 
    border-radius: 4px;
    cursor: pointer;
}

.btn-repay{
 text-align: right;
}
.btn-repay .btn{
  width: 29% !important;
  margin-top: 20px;
  margin-left: auto;
  font-size: 14px;
}
.infoCard {
  border: 1px solid rgb(0 193 241);
  background: rgb(235 249 255);
  padding: 20px;
  display: flex;
  border-radius: 5px;
  gap: 20px;
}

.infoCard.success{
  border: 1px solid rgb(48 207 27);
  background: rgb(229 251 230);
}

.infoCard-warning {
  border: 1.5px solid rgb(241, 197, 0);
  color: rgb(128, 106, 12);
  font-weight: bold;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  background: rgb(255 253 237);
}

.btnWrp {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 20px;
}

.btnWrp button {
  width: 27% !important;
  font-size: 14px;
}

.backBtn {
  width: 17% !important;
  font-size: 13px !important;
  padding: 4px !important;
  margin-bottom: 10px;
}

.infoCard .leftCol {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoCard strong {
  font-size: 16px;
}

.ltvSelect {
  display: flex;
  align-items: center;
  gap: 2px;
}

.historyLink{
  text-align: right;
  font-size: 12px;
  text-decoration: none;
  color: #01fef5;
}

.historyContainer .btn-primary{
  font-size: 13px !important;
}

.historyLink div{
  padding-top: 5px;
}

.historyLink img{
  width: 12px;
}
.infoCard .address {
  padding: 10px;
  background: #beecff;
  margin: 5px 0;
  border-radius: 5px;
  word-break: break-all;
  cursor: pointer;
  font-size: 13px;
  gap: 5px;
  align-items: center;
  display: flex;
}

.apiData {
  padding: 10px;
  background: #beecff;
  margin: 5px 0;
  border-radius: 5px;
  word-break: break-all;
  cursor: pointer;
  font-size: 13px;

}

.apiData .data:not(:nth-child(1)) {
  margin-top: 10px;
}

.infoCard .leftCol div {
  display: flex;
  flex-direction: column;
}

.footer .emails {
  padding-top: 20px;
}

.loanCal .btn-continue {
  width: 30% !important;
  font-size: 13px;
  /* margin-top: 10px; */
}


.footer .emails a,
.footer .emails {
  color: #afb2be;
  font-size: 10px;
  text-decoration: none;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-col {
  width: 14%;
}

.footer .footer-col.large {
  width: 30%;
}

.footer-col h6 {
  font-weight: bold;
  color: #ffffff;
  padding: 8px;
}

.footer-col ul {
  padding: 0;
}

.footer-col ul li a {
  display: inline-block;
  text-decoration: none;
  color: #afb2be;
  padding: 8px;
  transition: color 0.3s;
  list-style: none;
  font-size: 12px;
}

.btn-increase {
  width: 31% !important;
  font-size: 14px !important;
}

.swal2-title {
  font-size: 18px !important;
}

.swal2-html-container {
  font-size: 16px !important;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  font-size: 14px !important;
}

.swal2-styled.swal2-confirm {
  background-color: #0d6efd !important;
}

.footer hr {
  border: 0;
  height: 5px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 96%;
  background: linear-gradient(90deg, rgba(211, 76, 155, 1) 0%, rgba(245, 235, 26, 1) 49%, rgba(113, 204, 212, 1) 100%);
  opacity: 1;
}

.footer .copyright {
  text-align: center;
  color: #afb2be;
  width: 100%;
  line-height: 24px;
  padding: 16px 0;
  font-size: 12px;
}

.frame {
  height: 370px;
  width: 100%;
  border: none;
}

.frame-container {
  width: 25%;
  margin: 0 auto;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}


.error {
  font-size: 11px;
  color: red;
}



input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}


.titleWrp {
  text-align: center;
  padding-bottom: 50px;
  color: #fff;
}

.footer-btn{
  color: #afb2be !important;
  border: 1px solid #afb2be !important;
  background: transparent !important;
  font-size: 13px !important;
  padding: 10px 15px !important;
  margin-left: 5px  !important;
  font-weight: 400 !important;
  min-width: 160px !important;
}

.footer-btn:hover{
  color: #afb2be !important;
  border: 1px solid #afb2be !important;
  background: transparent !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}





html {
  overflow-x: hidden;
}

.footer-box {
  height: auto;
  position: relative;
  padding-bottom: 40px;
  margin-top: 120px;
  background: #0A143B !important;
  font-family: DINPro-Bold;
  margin: -15px;
  padding: 15px;
}

.no-margin {
  margin-top: 0
}

.footer-bar {
  font-size: 12px;
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  position: relative
}

.footer-default {
  padding-top: 80px
}

.footer-logo {
  width: 260px;
  float: left;
  padding-left: 0px
}

.footer-logo img {
  max-height: 60px
}

.logo {
  max-height: 120px;
  max-width: 120px
}

.footer-menu {
  margin: auto;
  width: auto
}

.footer-template {
  width: auto;
  overflow: hidden
}

.menu-ul-default {
  width: 100%
}

.menu-ul-default li {
  float: left;
  width: 260px;
  padding-left: 40px;
  line-height: 26px
}

.menu-ul-default li .hoverShow {
  display: none
}

.menu-ul-default li:hover .hoverShow {
  display: inline-block
}

.menu-ul-default li:hover .hoverHide {
  display: none
}

.menu-ul-default .tit {
  margin-bottom: 15px
}

.footer-box .copy {
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 20px;
  font-size: 12px;
  margin-top: 80px
}

.int-footer-bar {
  padding: 96px 110px 0 110px
}

.int-footer-left {
  float: left
}

.int-footer-left p {
  line-height: 26px
}

.int-footer-logo {
  width: 260px;
  margin-bottom: 40px
}

.int-footer-template {
  float: right
}

.menu-ul-int {
  width: 600px
}

.menu-ul-int li {
  float: left;
  width: 150px;
  padding-left: 40px;
  line-height: 26px
}

.menu-ul-int li .hoverShow {
  display: none
}

.menu-ul-int li:hover .hoverShow {
  display: inline-block
}

.menu-ul-int li:hover .hoverHide {
  display: none
}

.menu-ul-int .tit {
  margin-bottom: 15px
}

.footer-box .copy {
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 20px;
  font-size: 12px;
  margin-top: 80px
}

.footer-box .int-copy {
  text-align: left;
  border-top-width: 1px;
  border-top-style: solid;
  font-size: 12px;
  margin-top: 80px;
  padding: 20px 110px 0 110px
}

.lyotrade-footer {
  width: 100%;
  display: flex;
}

.footer-box {
  font-family: 'Roboto';
  font-style: normal;
}

.footer-emails a {
  color: #afb2be;
  font-size: 10px;
  text-decoration: none;
}

.footer-logo-lyo {
  color: #fff;
  padding-left: 5px;
  float: left;
}

.footer-logo-lyo img {
  padding: 0px;
  width: 100%;
  margin-left: -21px;
  margin-top: 2px;
  min-width: 200px;
  max-width: 200px;
}

.footer-logo-lyo logo {
  max-width: 240px;
  max-height: unset;
}

/* .lyotrade-footer-padding-container {padding: 0 0;} */
.lyotrade-footer ul {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin: 24px 0;
  padding: 0;
}

/* .lyotrade-footer ul.sm-block {width: 30%;float: right;} */
.lyotrade-footer li {
  list-style: none;
  font-size: 12px;
  color: #ffffff;
}

.lyotrade-footer .title {
  font-weight: bold;
  color: #ffffff;
  padding: 8px;
}

.lyotrade-footer li a {
  display: inline-block;
  text-decoration: none;
  color: #afb2be;
  padding: 8px;
  transition: color 0.3s;
}

.lyotrade-footer li .allrights {
  padding: 8px;
}

.lyotrade-footer li a:hover {
  color: #ffffff;
}

.lyotrade-footer .social-block {
  float: right;
  display: block;
  text-align: right;
  padding: 14px 0 26px 0;
}

.lyotrade-footer .social-block .lyotrade-logo {}

.lyotrade-footer .social-block .mail {
  color: #afb2be;
  display: block;
  text-decoration: none;
}

.lyotrade-footer .social-block .mail * {
  display: inline-block;
  vertical-align: middle;
}

.lyotrade-footer .icons-list {
  float: left;
  margin-top: 20px;
  margin-right: -8px;
}

.lyotrade-footer .icons-list .icon-button {
  float: left;
}

.lyotrade-footer .icons-list .icon-button a {
  display: block;
  line-height: 24px;
  width: 24px;
  height: 24px;
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  transition: color 0.3s;
}

.lyotrade-footer .icons-list .icon-button a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.lyotrade-footer .icons-list .icon-button a img {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}

.lyotrade-footer .icons-list .icon-button a:hover img {
  filter: brightness(2);
}

.lyotrade-footer .hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 96%;
}
.download-menu_2 div {
  padding: 4px;
  cursor: pointer;
}

#google_translate_element {
  /* position: fixed;
  z-index: 99999 !important;
  top: 40px; */
  padding: 20px 10px;
}

.goog-te-banner-frame {
  visibility: hidden !important;
  z-index: -1 !important;
}
.submenu_link .dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.submenu_link .dropdown-item {
  font-weight: 800;
  font-size: 16px;
}
.submenu_link .dropdown-item {
  font-weight: 500;
  font-size: 14px;
}
.submenu_link .dropdown-item img {
  height: 25px;
  width: 25px;
  margin-right: 7px;
}

.translated-ltr body{
  top:  0 !important;
}

/* Language div custonm css */

.langDiv {
  position: absolute;
  top: 40px;
  width: 180px;
  height: 100px;
  z-index: 5;
  left: 50%;
  transform: translate(-55%, 0);
  border-radius: 4px;
}

#goog-gt-tt {
  display: none !important;
}


.navbar.topNav.scrolled{
  background-color: #422C73 !important;
  z-index: 10000;
}

.translated-rtl body{
  top: 0 !important;
}
.goog-te-banner-frame {
  visibility: hidden !important;
  z-index: -1 !important;
}
.lyotrade-footer .copyright {
  text-align: center;
  color: #afb2be;
  width: 100%;
  line-height: 24px;
  padding: 16px 0;
  font-size: 12px;
}
.translated-ltr body{
  top:  0 !important;
}
.footer-template {
  width: 100%;
}

.footer-logo {
  display: none;
}

hr {
  height: 5px;
  background: rgb(211, 76, 155);
  background: linear-gradient(90deg, rgba(211, 76, 155, 1) 0%, rgba(245, 235, 26, 1) 49%, rgba(113, 204, 212, 1) 100%);
}

.back-btn{
  
  text-align: right;
}

.back-btn .btn{
  width: 25%;
  margin-right: 30px;
  font-size: 13px;
}

.back-btn.repay-back .btn{
  margin-right: 0px;
}

/**  css update 30-05-2022 */

.footer-copyright {
  width: 100%;
  text-align: center;
  color: #fff;
}

.lyotrade-footer .col {
  width: 16%;
  margin: auto;
  margin-top: 0;
}

.sm-block .title {
  font-weight: bold;
}

.sm-block .stayConnected img {
  width: 25px;
  height: 25px;
}

.tele-icon img{
  width: auto !important;
  height: auto !important;
}

@media screen and (max-width: 1200px) {
  .lyotrade-footer {
    display: inline-block;
  }

  .lyotrade-footer .col {
    width: 33%;
    float: left;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .lyotrade-footer {
    display: inline-block;
  }

  .lyotrade-footer .col {
    width: 50%;
    float: left;
  }

  .lyotrade-footer .footer-logo-lyo {
    width: 100%;
  }

  .lyotrade-footer .col-stayConnected {
    width: 100%;
    float: left;
  }

  .lyotrade-footer .stayConnected {
    width: 70%;
  }
}

@media only screen and (max-width:1440px) {
  .frame-container {
    width: 33%;
  }

  .bannerSec .text-wrp {
    text-align: center;
    /* margin-top: -41%; */
 }

 .bannerSec p{
  font-size: 19px;
 }
}

@media only screen and (max-width: 1200px) {
  .modal-dialog {
    margin-top: 10% !important;
  }
}

@media only screen and (max-width:1024px) {
  .frame-container {
    width: 50%;
  }

  .bannerSec h2 {
    /* font-size: 28px; */
  }

  .bannerSec .text-wrp {
    text-align: center;
    /* margin-top: -65%; */
}

  .bannerSec p {
    font-size: 16px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 11px;
}

}


@media only screen and (max-width: 991px) {
  .frame-container {
    width: 70%;
  }

  .footer .footer-col {
    width: 50%;
  }

  .footer .footer-col.large {
    width: 100%;
  }

  .bannerSec .leftCol {
    align-items: center;
    padding-bottom: 30px;
    /* display: none; */
  }


  .bannerSec h2 {
   text-align: center;
  }
  .navbar.topNav{
    height: auto;
    padding: 10px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.btn-link{
    padding: 0.5rem 0rem;
    background-color: unset !important;
  }


}




